<!-- views/dashboard -->
<!doctype html>
<html>
<head>
    <title>User Dashboard</title>
    <% include ../views/partials/css %>
    <style>
        body {
            padding-top:80px;
        }

        #title-container {
            text-align: center;
        }

        #dashboard-container {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div id="title-container">
            <h1><span class="fa fa-lock"></span> Options Authentication</h1>
        </div>
        <div id="dashboard-container">
            <ul>
            <% Object.keys(data).forEach(function(key) { %>
                <% if (key.indexOf("USDT") !== -1 ) { %>
                <li><%= key %> : <%= data[key].last %></li>
                <li> Base Volume : <%= data[key].baseVolume %></li>
            <%     }
               }); %>
            </ul>
            <!-- make a table for just usd conversions -->
        </div>
    </div>
</div>
</body>
</html>
