<!-- views/dashboard -->
<%

    var marginAccountHtml = '<ul>';
    Object.keys(marginAccount['btc']).forEach(function(key) {
        marginAccountHtml += '<li>' + key + ':' + marginAccount['btc'][key] + '</li>';
        marginAccountHtml += '<li>' + key + ':' + marginAccount['dollar'][key] + '</li>';
    });
    marginAccountHtml += '</ul>';

    var currentMarginPositionsHtml = '<ul>';
    Object.keys(currentMarginPositions).forEach(function(currencyPairs) {
        var marginPositionObj = currentMarginPositions[currencyPairs];

        currentMarginPositionsHtml += '<li>' + currencyPairs + '</li>';

        Object.keys(marginPositionObj).forEach(function(currencyPairKey) {

            currentMarginPositionsHtml += '<li>' + currencyPairKey + ' : ' +
                                                   marginPositionObj[currencyPairKey] +
                                          '</li>';
        });
    });
    currentMarginPositionsHtml += '</ul>';

    var currentOpenOrdersHtml = '<ul>';
    Object.keys(currentOpenOrders).forEach(function(key) {
        currentOpenOrdersHtml += '<li>' + key + '</li>';
        var currencyPairObj = currentOpenOrders[key];
        Object.keys(currencyPairObj).forEach(function(orderNumber) {
            currentOpenOrdersHtml += '<li>' + orderNumber + '</li>';
            Object.keys(currencyPairObj[orderNumber]).forEach(function(orderKey) {
                var orderValue = currencyPairObj[orderNumber][orderKey];
                currentOpenOrdersHtml += '<li>' + orderKey + ' : ' + orderValue + '</li>';
            })
        })
    });
    currentOpenOrdersHtml += '</ul>';

%>
<!doctype html>
<html>
<head>
    <title>User Dashboard</title>
    <% include ../views/partials/css %>
    <style>
        body {
            padding-top:80px;
        }

        #title-container {
            text-align: center;
        }

        #dashboard-container {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div id="title-container">
            <h1>Currency Dashboard</h1>
        </div>
        <div id="dashboard-container">
            <div class="row">
                <h1> Margin Account Balance </h1>
                <%- marginAccountHtml %>
                <h1> Current Margin Positions </h1>
                <%- currentMarginPositionsHtml %>
                <h1> Current Open Orders </h1>
                <%- currentOpenOrdersHtml %>
                <!-- make a table for just usd conversions -->
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div>
</body>
</html>
