<!-- views/dashboard -->
<%
    var currenciesHtml = '';
    // make table here;
%>
<!doctype html>
<html>
<head>
    <title>User Dashboard</title>
    <% include ../views/partials/css %>
    <style>
        body {
            padding-top:80px;
        }

        #title-container {
            text-align: center;
        }

        #dashboard-container {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div id="title-container">
            <h1>Currency Dashboard</h1>
        </div>
        <div id="dashboard-container">
            <div class="row">
                <%- currenciesHtml %>
                <!-- make a table for just usd conversions -->
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div>
</body>
</html>
