<!-- views/dashboard -->
<%

    var accountBalanceHtml = '<ul>';
    Object.keys(accountBalance).forEach(function(key) {
        accountBalanceHtml += '<li>' + key + ':' + accountBalance[key] + '</li>';
    });
    accountBalanceHtml += '</ul>';

    var marginAccountHtml = '<ul>';
    Object.keys(marginAccountSummary).forEach(function(key) {
        marginAccountHtml += '<li>' + key + ':' + marginAccountSummary[key] + '</li>';
    });
    marginAccountHtml += '</ul>';

    var currentMarginPositionsHtml = '<ul>';
    currentMarginPositionsHtml += '<li>Sample position</li>';
    currentMarginPositionsHtml += '</ul>';

%>
<!doctype html>
<html>
<head>
    <title>User Dashboard</title>
    <% include ../views/partials/css %>
    <style>
        body {
            padding-top:80px;
        }

        #title-container {
            text-align: center;
        }

        #dashboard-container {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div id="title-container">
            <h1>Currency Dashboard</h1>
        </div>
        <div id="dashboard-container">
            <div class="row">
                <h1> Account Balance </h1>
                <%- accountBalanceHtml %>
                <h1> Margin Account Summary </h1>
                <%- marginAccountHtml %>
                <h1> Current Margin Positions Summary </h1>
                <%- currentMarginPositionsHtml %>
                <!-- make a table for just usd conversions -->
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div>
</body>
</html>
