<!-- views/dashboard -->
<%
    var currencyValues = [{'abbr' : 'btc', 'title' : 'bitcoin'},
                          {'abbr':'dollar', 'title' : 'dollar'}];

    var keyLabels = {
        'totalValue' : 'Unrealized Margin Account Value',
        'pl' : 'Current Net Profit / Loss',
        'lendingFees' : 'Current Lending Fees',
        'netValue' : 'Current Margin Account Value',
        'totalBorrowedValue' : 'Total Margin Borrowed Value',
        'basePrice' : 'Original Margin Price',
        'liquidationPrice' : 'Liquidation Price',
        'amount' : 'Total Borrowed Amount',
        'total' : 'Current Value',
        'basePrice' : 'Original Margin Price',
        'type' : 'Margin Type',
        'orderNumber' : 'Order Number',
        'rate' : 'Price',
        'startingAmount' : 'Starting Amount',
        'date' : 'Date Activated',
        'margin' : 'Margin Leverage'
    };

    var marginAccountHtml = '<div id="margin-account-balance-container" class="container">';
    marginAccountHtml +=        '<div class="refresh-item row col-xs-12">';
    marginAccountHtml +=            '<label class="dashboard-item-title">MARGIN ACCOUNT BALANCE</label>';
    marginAccountHtml +=            '<span id="refresh-button" class="glyphicon glyphicon-refresh"></span>';
    marginAccountHtml +=        '</div>';
    marginAccountHtml +=        '<div class="row col-xs-12">';
    marginAccountHtml +=            '<table class="margin-table" id="margin-account-balance-table">';
    marginAccountHtml +=                '<tr class="margin-table-header-row">';
    marginAccountHtml +=                    '<th></th>';
    marginAccountHtml +=                    '<th>Bitcoin</th>';
    marginAccountHtml +=                    '<th>Dollar</th>';
    marginAccountHtml +=                '</tr><tr class="spacer"></tr>';
    Object.keys(marginAccount).forEach(function(key) {
        var label = key;
        switch(key) {
            case 'totalValue' :
            case 'pl' :
            case 'lendingFees' :
            case 'netValue' :
            case 'totalBorrowedValue' :
                label = keyLabels[key];
                break;
            default:
                break;
        }
        marginAccountHtml +=            '<tr class="margin-table-row">';
        marginAccountHtml +=                '<td>' + label + '</td>';
        for (var c = 0; c < currencyValues.length; c++) {
            var currencyValueObj = currencyValues[c];
            var abbr = currencyValueObj['abbr'];
            marginAccountHtml +=            '<td>' + marginAccount[key][abbr] + '</td>';
        }
        marginAccountHtml +=            '</tr>';
    });
    marginAccountHtml +=            '</table>';
    marginAccountHtml +=        '</div>';
    marginAccountHtml +=    '</div>';


    var currentMarginPositionsHtml = '';
    if (Object.keys(currentMarginPositions).length > 0) {
        currentMarginPositionsHtml = '<li class="dashboard-item col-xs-12" id="dashboard-margin-position">';
        currentMarginPositionsHtml += '<div id="margin-positions-container">';
        currentMarginPositionsHtml +=   '<label class="dashboard-item-title"> Current Margin Positions </label>';
        currentMarginPositionsHtml +=   '<ul id="current-margin-positions-currency-list">';
        Object.keys(currentMarginPositions).forEach(function(currencyPairs) {
            var marginPositionObj = currentMarginPositions[currencyPairs];
            currentMarginPositionsHtml +=   '<label>' + currencyPairs + '</label>';
            currentMarginPositionsHtml +=   '<li class="currency-pair-item">';
            for (var c = 0; c < currencyValues.length; c++) {
                var currencyValueObj = currencyValues[c];
                var abbr = currencyValueObj['abbr'];
                var title = currencyValueObj['title'];
                currentMarginPositionsHtml +=   '<ul class="'+ title + ' col-xs-12 col-sm-4">';
                currentMarginPositionsHtml +=       '<li class="list-currency">' + title + ' Values</li>';
                Object.keys(marginPositionObj[abbr]).forEach(function(key) {
                    var label = key;
                    switch(key) {
                        case 'type':
                        case 'amount':
                        case 'basePrice':
                        case 'liquidationPrice':
                        case 'lendingFees':
                        case 'pl':
                        case 'total':
                            label = keyLabels[key];
                            break;
                        default:
                            break;
                    }
                    currentMarginPositionsHtml +=   '<label>' + label + '</label>';
                    currentMarginPositionsHtml +=   '<li>' + marginPositionObj[abbr][key] + '</li>';
                });
                currentMarginPositionsHtml +=   '</ul>';
            }
            // add currency pair object into jquery
            currentMarginPositionsHtml +=       '<div class="close-position-item col-xs-12 col-sm-4">';
            currentMarginPositionsHtml +=           '<button type="button" class="btn btn-secondary close-position-button>';
            currentMarginPositionsHtml +=               'Close Position</button>';
            currentMarginPositionsHtml +=       '</div>';
            currentMarginPositionsHtml +=   '</li>';
        }); // currency pair
        currentMarginPositionsHtml +=   '</ul>';
        currentMarginPositionsHtml += '</div>';
        currentMarginPositionsHtml += '</li>';
        // add margin percentage
    }


    var currentOpenOrdersHtml = '';
    if (Object.keys(currentOpenOrders).length > 0) {
        currentOpenOrdersHtml = '<li class="dashboard-item col-xs-12" id="dashboard-open-order">';
        currentOpenOrdersHtml +=    '<div id="current-open-order-container">';
        currentOpenOrdersHtml +=        '<label class="dashboard-item-title">Current Open Orders</label>';
        currentOpenOrdersHtml +=    '<ul id="open-orders-list">';
        Object.keys(currentOpenOrders).forEach(function(currencyPair) {
            var currencyPairObj = currentOpenOrders[currencyPair];
            currentOpenOrdersHtml += '<li>' + currencyPair + '</li>';
            currentOpenOrdersHtml +=    '<ul class="order-number-list">';
            Object.keys(currencyPairObj).forEach(function(orderNumber) {
                currentOpenOrdersHtml +=    '<label>' + orderNumber + '</label>';
                currentOpenOrdersHtml +=    '<li>';
                for (var c = 0; c < currencyValues.length; c++) {
                    var currencyValueObj = currencyValues[c];
                    var abbr = currencyValueObj['abbr'];
                    var title = currencyValueObj['title'];
                    currentOpenOrdersHtml += '<ul class="'+ title + ' col-xs-12 col-sm-4">';
                    currentOpenOrdersHtml +=    '<li class="list-currency">' + title + ' Values</li>';
                    Object.keys(currencyPairObj[orderNumber][abbr]).forEach(function(key) {
                        var orderValue = currencyPairObj[orderNumber][abbr][key];
                        var label = key;
                        switch(key) {
                            case 'orderNumber':
                            case 'type':
                            case 'rate':
                            case 'startingAmount':
                            case 'amount':
                            case 'total' :
                            case 'date' :
                            case 'margin' :
                                label = keyLabels[key];
                                break;
                            default:
                                break;

                        }
                        currentOpenOrdersHtml += '<label>' + label + '</label>';
                        currentOpenOrdersHtml += '<li>' + orderValue + '</li>';
                    });
                    currentOpenOrdersHtml += '</ul>';
                }
                /*
                * Cancel Order Button
                */
                currentOpenOrdersHtml +=    '<div class="cancel-order-item col-xs-12 col-sm-4">';
                currentOpenOrdersHtml +=        '<button type="button" class="btn btn-danger cancel-order-button"';
                currentOpenOrdersHtml +=            'data-order-number="'+ orderNumber + '" ';
                currentOpenOrdersHtml +=            'data-currency-pair="' + currencyPair + '">';
                currentOpenOrdersHtml +=            'Cancel Order</button>';
                currentOpenOrdersHtml +=    '</div>';
                currentOpenOrdersHtml +=    '</li>';
            })
            currentOpenOrdersHtml +=    '<ul>';
        });
        currentOpenOrdersHtml +=    '</ul>';
        currentOpenOrdersHtml += '</div>';
        currentOpenOrdersHtml += '</li>';
        // add projected profit or loss if sold
    }

%>
<!doctype html>
<html>
<head>
    <title>User Dashboard</title>
    <% include ../views/partials/css %>
    <style>

        ul {
            list-style: none;
        }

        th {
            text-overflow: ellipsis;
            font-weight: 400;
        }

        #title-container {
            height: 60px;
            width: 100%;
            background-color: #f7f7f7;
        }

        #page-title-container {
            height: 100%;
            margin-left: 20px;
            text-align: left;
        }

        #page-title-container span {
            vertical-align: middle;
            font-weight: 300;
            font-size: 40px;
        }

        #dashboard-container {
            height: 100%;
            margin-top: 50px;
        }

        #dashboard-list {
            padding: 0;
        }

        .dashboard-item {
            min-height: 300px;
            margin-top: 50px;
            border: 1px solid #ebebeb;
        }

        .dashboard-item-title {
            font-size: 20px;
            font-weight: 300;
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid #ebebeb;
            margin-bottom: 10px;
            letter-spacing: 1px;
        }

        #margin-account-balance-container,
        #margin-positions-container,
        #current-open-order-container {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 30px;
            margin-bottom: 30px;
            min-height: 300px;
        }

        #margin-account-balance-table {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }

        .margin-table-header-row {
            height: 50px;
            border-bottom: 1px solid #ebebeb;
        }

        tr.spacer {
            height: 20px;
        }

        .margin-table-row {
            height: 30px;
        }

        #current-margin-positions-currency-list {
            padding: 0px;
        }

        #refresh-button {
            position: absolute;
            top: 0px;
            right: 16px;
            color: #ebebeb;
            font-size: 30px;
            cursor: pointer;
        }
        #refresh-button:hover {
            color: black;
        }

        .cancel-order-button {
            width: 100%;
            max-width: 300px;
            margin: 50px auto 0 auto;
        }

        ul#open-orders-list,
        ul.order-number-list {
            padding: 0px;
        }

        @media (max-width: 420px) {
            #dashboard-container {
                padding: 10px;
                text-align: center;
            }

            #page-title-container span {
                font-size: 30px;
            }

        }
    </style>
</head>
<body>
<div class="container">
    <!-- Add nav bar -->
    <div id="title-container">
        <div id="page-title-container">
            <span>MARGIN DASHBOARD</span>
        </div>
    </div>
    <div id="dashboard-container">
        <ul id="dashboard-list">
            <li class="dashboard-item col-xs-12" id="dashboard-margin-account">
                <%- marginAccountHtml %>
            </li>
            <% if (Object.keys(currentMarginPositions).length > 0) { %>
                <%- currentMarginPositionsHtml %>
            <% } %>
            <% if (Object.keys(currentOpenOrders).length > 0) { %>
                <%- currentOpenOrdersHtml %>
            <% } %>
        </ul>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

    $("#refresh-button").on("click", function() {
        location.reload();
    })

    // cancel order ajax
    $(".cancel-order-button").on("click", function(){
        var $el = $(this);
        var data = {
            "orderNumber" : $el.data("order-number"),
            "currencyPair": $el.data("currency-pair")
        };
        $.ajax({
            method: "POST",
            url: "/ajax/cancelOrder",
            data: data
        })
        .then(function(data){
            location.reload();
        })
        .catch(function(error){
            console.log(error);
        })
    })

    $(".close-position-button").on("click", function(){
        var $el = $(this);
        var data = {
            "currencyPair": $el.data("currency-pair")
        }

        $.ajax({
            method: "POST",
            url: "/ajax/closePosition",
            data: data
        })
        .then(function(data){
            location.reload();
        })
        .catch(function(error){
            console.log(error);
        })
    })
</script>
