<!doctype html>
<html>
<head>
    <title>User Dashboard</title>
    <% include ../views/partials/css %>
	<style>
        body {
            padding-top:80px;
			text-align: center;
        }
	</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div id="title-container">
            <h1>ERROR Something went wrong.</h1>
        </div>
    </div>
</div>
</body>
</html>
